body {
  background-color: #e9ecee;
  margin: 0;
  padding: 0;
  display: grid;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}
/* * {
  break-inside: avoid;
  page-break-inside: avoid;
} */
/* 
.text-break {
  overflow-wrap: break-word;
  word-break: break-all;
} */
.breaker {
  break-before: page;
}

.form {
  box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.535);
  /* aspect-ratio: 16/10; */
  height: 90vh;
  /* width: 80%; */
  width: 60%;
  place-self: center;
  border-radius: 6px;
  background-color: white;
  padding: 4px 8px;
  /* display: grid;
  justify-content: space-around;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr; */
}
/* .label {
  grid-column: span 2;
  background-color: red;
} */

.form-field {
  border: 1px solid black;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: start;
  column-gap: 14px;
  align-items: center;
  /* height: 90%; */

  input {
    padding: 3px 4px;
  }
  textarea {
    resize: none;
    height: 4em;
  }
  button {
    justify-self: start;
  }
}

.preview {
  padding: 13px;
  position: inherit;
  .date {
    text-align: right;
  }
  /* overflow-y: scroll; */
  /* width: 100%;
  height: 100%; */
  border: 1px solid black;
  /* scrollbar-width: none;
  -ms-overflow-style: none; */
}
.preview::-webkit-scrollbar {
  display: none;
}
.preview.printing {
  font-size: 100%;
  padding: 0;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  background-color: blueviolet;
}
.container-prev {
  position: relative;
  /* background-color: aquamarine; */
  padding: 0.5em;
}
.container-prev.printing {
  font-size: 1em;
  width: fit-content;
  height: fit-content;
  min-height: auto;
  aspect-ratio: unset;
  box-sizing: border-box;
}

.btn-group {
  padding: 1em;
  display: flex;
  justify-content: end;
  gap: 8px;
  /* background-color: blue; */
  grid-column: span 2;
  button {
    padding: 8px 4px;
  }
}
.hidden {
  display: none;
}

@media screen and (max-width: 764px) {
  .form {
    width: 90%;
    height: fit-content;
    padding: 1em;
    align-self: start;
    .form-field {
      align-content: start;
      gap: 1em;
    }
  }
}
