body {
  background-color: #e9ebee;
  display: grid;
  place-items: center;
}
.container {
  width: 80%;
  height: 90vh;
  background-color: white;
  top: 2.5vh;
  position: relative;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.373);
  display: grid;
  padding: 10px;
  grid-template-columns: minmax(250px, auto) 1fr;
  grid-template-areas:
    "header header"
    "left video"
    "left ctrl"
    "left info";
  grid-template-rows: auto 1fr auto auto;
  .head {
    grid-area: header;

    border-bottom: 1px solid black;
  }
  .left {
    grid-area: left;

    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5em;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    & > p {
      position: sticky;
      top: -0.5em;
      background-color: white;
      padding: 1em;
    }
    .scenes {
      padding: 0.6em;
      display: grid;
      gap: 0.5em;
      align-content: start;
      gap: 1.5em;
      .scene {
        background-color: greenyellow;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0.4em;
        gap: 0.5em;
        cursor: pointer;
        p,
        h4 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  #player {
    grid-area: video;
  }
  .btn-group {
    grid-area: ctrl;
    height: fit-content;

    padding: 10px;
    button {
      padding: 10px 20px;
    }
  }
  .info {
    padding: 0.5em;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-area: info;

    div {
      padding: 10px;
      border: 1px solid black;
      text-align: center;
    }
  }
}

@media screen and (max-width: 794px) {
  body {
    display: flex;
    margin: 0;
    /* justify-content: center; */

    background-color: white;
  }
  .container {
    box-shadow: none;
    width: 100%;
    height: fit-content;
    min-height: 95vh;
    top: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "video"
      "ctrl"
      "left"
      "info";
    grid-template-rows: auto 0.5fr auto 0.3fr auto;

    .left {
      border: none;
      background-color: antiquewhite;
      > p {
        background-color: antiquewhite;
      }
      .scenes {
        padding: 0;
        scrollbar-width: auto;
        -ms-overflow-style: auto;
      }
    }
  }
}
