.views {
  .view {
    width: auto;
    transition: none;
    &[data-module="2"] {
      .form-group {
        grid-template-columns: 1fr;

        .input-group {
          grid-column: 1;
          grid-column: span 2;
          outline: 1px solid red;
          .input-group:has(textarea) {
            grid-column: 1;
          }
        }
      }
    }
  }
}
