@import "./var-style.css";
@import "./font-style.css";

body {
  font-family: "peta";
  background-image: url(../images/bg-spot4.png);
  background-size: 200px;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100svh;
  user-select: none;
  color: var(--arang);
}

* {
  /* outline: var(--ol); */
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--biru-sampul);
  padding: var(--m);
  color: var(--kertas);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--navy-garis);

  .icon {
    height: 1.25lh;
    aspect-ratio: 1;
    border: 2px solid var(--navy-garis);
    /* background-color: var(--navy-garis); */
    padding: var(--m-2);
    display: grid;
    place-content: center;
    border-radius: var(--m-2);
    background-color: var(--kuning-judul);
    color: var(--navy-garis);
    [data-icon] {
      svg {
        width: 100%;
        height: 100%;
        stroke-width: 3;
      }
    }
  }
  .title-page {
    > * {
      padding: 0;
      margin: 0;
    }
    h4 {
      font-family: var(--judul);
      color: var(--kuning-judul);
      text-align: right;
      paint-order: stroke fill;
      -webkit-text-stroke: var(--m-2) var(--navy-garis);
      font-size: 2rem;
    }
    p {
      text-align: right;
      font-size: 0.8rem;
      padding-top: var(--m-2);

      @media (width<40rem) {
        outline: var(--ol);
        width: 40ch;
      }
      /* color: var(--kuning-node); */
    }
  }
}

.footer {
  background-color: var(--biru-sampul);
  padding: var(--m-2);
  color: var(--kertas);
  text-align: center;
  font-size: 0.8rem;
}

.pointer {
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
}

[data-icon] {
  svg {
    stroke-linecap: round;
    stroke-linejoin: round;
    /* width: 100%;
    height: 100%; */
    height: 1lh;
    /* stroke-width: 3; */
  }
}

.daftar-menu {
  transition: ease-in 0.3s;

  &:popover-open {
    display: grid;
    align-content: start;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--kertas);
    color: var(--navy-garis);
    height: 100vh;
    scrollbar-width: none;
    svg {
      stroke-width: 3;
    }

    h4 {
      display: flex;
      align-items: center;
      gap: var(--m);
      padding: var(--m);
      padding-top: var(--2m);
      justify-content: space-between;

      /* width: 100%; */
      span {
        width: 100%;
        text-align: center;
      }

      [data-icon] {
        display: grid;
        place-content: center;
      }
    }
    .link-group {
      display: grid;
      padding-top: var(--m);
      .links {
        display: grid;
        .title {
          border-top: 1px solid var(--navy-ilustrasi);
          padding-top: var(--m);
          padding-bottom: var(--m);
        }
        > * {
          padding: var(--m-2);
          border-bottom: 1px solid var(--navy-ilustrasi);
          display: grid;
          grid-template-columns: auto 1fr;
          transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
          /* background-color: var(--biru-penanda); */
          background-color: var(--kuning-node);
          /* color: var(--biru-pola); */
          width: 40ch;
          [data-icon] {
            margin-left: auto;
          }
          &:hover,
          &.active {
            /* background-color: var(--merah-koma); */
            filter: brightness(1.2);
          }
        }
        .link {
          align-items: center;

          p {
            span {
              display: inline-block;
              padding-top: var(--m-2);
              padding-left: var(--m-2);
              font-size: 0.8rem;
              opacity: 0.8;
            }
          }
          [data-icon] {
            &.hide {
              display: none;
            }
          }
          &[data-label] {
            display: none;
            background-color: var(--kuning-pucat);
            &.open {
              display: grid;
            }
            @starting-style {
              /* translate: 0 -100%; */
              opacity: 0;
            }
          }
          /* [data-icon] {
          } */
        }
      }
    }
    @starting-style {
      translate: -100%;
      opacity: 0;
    }
    &::backdrop {
      background-color: rgba(0, 0, 0, 0.298);
    }
  }
}

body:has(:popover-open) {
  iframe {
    pointer-events: none;
  }
}

.main {
  display: grid;
  padding: var(--m);
}
