@import url("./main.css");

body {
  place-items: center;
}

.wrapper {
  width: 80%;
  /* height: 50vh; */
  /* border: 1px solid black; */
  background-color: rgba(255, 255, 255, 0.411);
  color: contrast-color(var(--bg-color));
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329); */
  padding: var(--m);
  border-radius: var(--m);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  min-height: 50vh;
  gap: var(--m);
  backdrop-filter: blur(12px);
  .info-text {
    padding-bottom: var(--m);
    grid-column: span 3;
  }
  .card {
    border-radius: var(--m);
    /* border: 5px solid var(--main-color); */
    color: black;
    padding: var(--m);
    text-wrap: pretty;
    text-align: center;
    /* background-color: var(--main-color); */
    transition:
      translate 0.5s ease,
      opacity 0.8s ease-in-out,
      cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    translate: 0 0;
    opacity: 1;
    backdrop-filter: blur(12px);
    transition-delay: calc(attr(data-delay) * 30ms);
    display: grid;
    @starting-style {
      opacity: 0;
      translate: 0 70px;
    }

    &:hover {
      background-color: var(--main-color);
      /* color: white; */
      a {
        /* color: white; */
      }
    }
    /* &:nth-child(4) {
      --main-color: oklch(from var(--main-color) l c calc(h + 30deg));
    } */
    .heading {
      text-wrap: balance;
      width: 97%;
    }
    h1 {
      justify-self: center;
      font-size: 5rem;
      text-align: center;
    }
    a {
      text-decoration: none;
      /* position: relative; */
      color: black;
      svg {
        transition: ease-in-out 0.5s;
        &:hover {
          scale: 1.2;
          opacity: 0.8;
          rotate: -270deg;
        }
      }
    }
  }
}
