@import url(./main.css);

body {
  background-color: rgba(191, 191, 187, 0.819);
  align-content: start;
  font-size: 0.73rem;
  height: 100vh;
  grid-template-columns: 1fr auto;
  padding: var(--m);
  box-sizing: border-box;

  .page {
    background-color: white;
    /* width: 40vw; */
    /* height: 80vh; */
    padding: var(--m);
    display: grid;
    align-content: start;
    gap: var(--m);
    border-radius: calc(var(--m) / 2);
    ol,
    ul {
      padding-left: var(--m);
    }
  }
  .side {
    background-color: white;
    border-radius: calc(var(--m) / 2);
    padding: var(--m);
    display: grid;
    /* align-content: start; */
    gap: var(--m);
    grid-template-rows: auto auto 1fr auto;
    .info {
      background-color: oklch(from var(--bg-color) l c h / 0.2);
      padding: var(--m);
      display: grid;
      gap: var(--m);
      border-radius: calc(var(--m) / 2);
    }
    .group-pill {
      padding: calc(var(--m) / 2);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--m);
      row-gap: calc(var(--m) / 2);
      .pill {
        display: flex;
        gap: calc(var(--m) / 2);
        padding: calc(var(--m) / 2);
        background-color: red;
        border-radius: var(--m);
        background-color: oklch(from var(--bg-color) l c h / 0.2);
        .ball {
          height: 1lh;
          aspect-ratio: 1;
          border-radius: 50%;
        }
        &:nth-child(1) {
          .ball {
            background-color: blue;
          }
        }
        &:nth-child(2) {
          .ball {
            background-color: rgb(224, 167, 10);
          }
        }
        &:nth-child(3) {
          .ball {
            background-color: rgb(103, 10, 224);
          }
        }
        &:nth-child(4) {
          .ball {
            background-color: rgb(10, 224, 31);
          }
        }
      }
    }
    button {
      grid-column: 1fr;
      border: none;
      padding: var(--m);
      border-radius: calc(var(--m) / 2);
      cursor: pointer;
      &.cek {
        margin-top: auto;
        background-color: var(--bg-color);
        color: white;
        &:hover {
          filter: brightness(1.2);
        }
      }
      &.down {
        margin-top: auto;
        background-color: var(--main-color);
        color: white;
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
}

.spoiler {
  cursor: pointer;
  span {
    anchor-name: --span;
    &.active {
      padding: calc(var(--m) / 4);
      outline: 1px solid rgb(0, 8, 255);
      border-radius: calc(var(--m) / 2);
    }
    &.wrong {
      padding: calc(var(--m) / 4);
      outline: 1px solid rgba(233, 2, 2, 0.845);
      border-radius: calc(var(--m) / 2);
    }
    &.correct {
      padding: calc(var(--m) / 4);
      outline: 1px solid rgb(16, 194, 18);
      background-color: rgba(115, 236, 115, 0.119);
      border-radius: calc(var(--m) / 2);
    }
    &.filled {
      padding: calc(var(--m) / 4);
      outline: none;
      background-color: oklch(from var(--bg-color) l c h / 0.2);
    }
  }
  .pop {
    &:popover-open {
      position: absolute;
      padding: var(--m);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--m);
      border: none;
      border-radius: calc(var(--m) / 2);
      background-color: rgb(222, 221, 221);
      /* display: none; */
      transition: ease-in 0.2s;
      top: 50%;
      left: 50%;
    }
    @starting-style {
      scale: 0.5;
    }
    .input-group {
      background-color: white;
      padding: var(--m);
      border-radius: calc(var(--m) / 2);
      display: flex;
      gap: var(--m);
      cursor: pointer;
      &:hover {
        filter: brightness(0.8);
      }
      label {
        cursor: pointer;
      }
    }
    .btn-save {
      padding: var(--m);
      border: none;
      border-radius: calc(var(--m) / 2);
      grid-column: span 3;
      cursor: pointer;
      background-color: var(--bg-color);
    }
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: var(--m);
}
.table {
  background-color: white;
  position: fixed;
  left: 9999px;
  padding: var(--m);
  th:not(:nth-child(1)) {
    min-width: 140px;
    text-align: center;
  }
}
