@import url("./main.css");

* {
  /* outline: 1.25px solid rgba(208, 21, 21, 0.487); */
}

body {
  grid-template-columns: auto 1fr;
  background-color: rgba(239, 239, 237, 0.819);
  align-content: start;
  grid-template-rows: auto auto 0.6fr 0.4fr;
  font-size: 0.85rem;
  gap: 0;
  height: 100vh;
}

.header {
  padding: calc(var(--m) * 1.5) calc(var(--m) / 1);
  background-color: var(--bg-color);
  /* width: 100; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: span 3;
}
.title {
  padding: calc(var(--m) / 2) calc(var(--m) / 1);
  /* background-color: red; */
  grid-column: span 3;
}
.group-control {
  background-color: white;
  border-radius: calc(var(--m) / 2);
  margin: calc(var(--m) * 1);
  padding: var(--m);
  grid-row: span 2;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.239);
  display: grid;
  grid-template-rows: repeat(auto-fit, auto) 1fr;

  font-size: 0.8rem;
  & > span {
    font-size: 0.6rem;
    font-weight: bold;
  }
  .ctrl-timer {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    border: 2px solid transparent;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.339);

    border-radius: calc(var(--m) / 2);
    padding: calc(var(--m) / 1);
    height: fit-content;
    column-gap: calc(var(--m) / 2);
    cursor: pointer;
    transition: ease 0.35s;
    gap: var(--m);
    span {
      font-weight: bold;
      aspect-ratio: 1;
      padding: calc(var(--m) / 2);
      border-radius: 50%;
      background-color: rgba(90, 115, 240, 0.241);
      align-self: start;
      height: 1lh;
      place-items: center;
      text-align: center;
      /* place-self: start; */
      /* height: fit-content; */
    }
    &:hover {
      background-color: rgba(101, 101, 97, 0.173);
    }
    @starting-style {
      opacity: 0;
      translate: 0 40px;
    }
    &.active:not(.all) {
      border-color: var(--main-color);
      background-color: oklch(from var(--bg-color) l c h / 0.2);
      color: oklch(from var(--main-color) l c h);
      span {
        background-color: var(--bg-color);
        color: rgba(255, 255, 255, 0.815);
      }
    }
    &.all {
      background-color: var(--main-color);
      color: rgba(255, 255, 255, 0.771);
      display: flex;
      justify-content: center;
      margin-top: auto;
      &:hover {
        background: red;
      }
    }
  }
}

.content {
  /* outline: 1.5px solid red; */
  grid-row: span 2;
  margin: var(--m);
  .view {
    height: 100%;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    /* outline: 1.5px solid red; */
    @starting-style {
      opacity: 0;
      /* scale: 0; */
      /* translate: 0 -100%; */
    }
    display: none;

    &:nth-child(4) {
      background-color: white;
      border-radius: calc(var(--m) / 2);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.276);
      display: grid;
      /* display: none; */
      padding: var(--m);
      box-sizing: border-box;
      gap: calc(var(--m) / 2);
      align-content: start;
      .input-form {
        padding: var(--m);
        display: grid;
        gap: var(--m);
        .input-group {
          display: grid;
          gap: calc(var(--m) / 4);
          input {
            /* width: fit-content; */
            border: none;
            padding: calc(var(--m) / 1);
            border-radius: calc(var(--m) / 4);
            background-color: rgba(222, 222, 222, 0.486);
            &:focus {
              background-color: white;
            }
          }
        }
        button {
          width: fit-content;
          justify-self: end;
          padding: var(--m);
          border: none;
          border-radius: calc(var(--m) / 2);
          background-color: var(--bg-color);
          color: white;
          cursor: pointer;
          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }
    &:nth-child(2) {
      display: grid;
      display: none;
      grid-template-columns: 1fr auto;
      gap: var(--m);
      .record,
      .checklist {
        border-radius: calc(var(--m) / 2);
        padding: var(--m);
      }
      .record {
        background-color: white;
        display: grid;
        align-content: start;
        gap: calc(var(--m) * 2);
        .timestamp {
          aspect-ratio: 1;
          width: 25%;
          border-radius: 50%;
          place-content: center;
          text-align: center;
          font-size: 150%;
          justify-self: center;
          background-color: oklch(from var(--bg-color) l c h / 0.2);
          border: 3px solid var(--main-color);
        }
        #toggleRec {
          width: fit-content;
          justify-self: center;
          padding: var(--m) calc(var(--m) * 2);
          border: none;
          background-color: oklch(from var(--main-color) calc(l * 1.4) c h);
          border-radius: calc(var(--m) / 2);
          cursor: pointer;
          &:hover {
            filter: brightness(1.4);
          }
        }
        p {
          width: 40%;
          text-align: center;
          justify-self: center;
        }
      }
      .checklist {
        background-color: white;
        display: grid;
        align-content: start;
        gap: var(--m);
        .check-group {
          display: flex;
          gap: var(--m);
          padding: var(--m);
          background-color: oklch(from var(--bg-color) l c h / 0.1);
          border-radius: calc(var(--m) / 2);
          &:hover {
            filter: brightness(0.6);
          }
        }
        .download {
          padding: var(--m);
          border: none;
          border-radius: calc(var(--m) / 2);
          background-color: rgb(56, 225, 56);
          cursor: pointer;
        }
      }
    }
  }
}

.item {
  background-color: white;
  padding: var(--m);
  cursor: pointer;
  border-radius: calc(var(--m) / 2);
  border: 1.5px solid rgba(0, 0, 0, 0.213);
  &:hover {
    background-color: rgba(92, 128, 246, 0.194);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  }
}
.modal {
  padding: var(--m);
  border: none;
  border-radius: calc(var(--m) / 2);
  place-self: center;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
  .close {
    position: absolute;
    right: var(--m);
    top: var(--m);
    cursor: pointer;
    opacity: 0.6;
  }
  &:popover-open {
    display: grid;
  }
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.254);
  }
  @starting-style {
    scale: 0.4;
    opacity: 0;
  }
  video {
    width: 40vw;
  }
  button {
    margin-top: var(--m);
    border: none;
    border-radius: calc(var(--m) / 2);
    padding: calc(var(--m) * 2) calc(var(--m) / 2);
    border: none;
    cursor: pointer;
    &:hover {
      filter: brightness(0.8);
    }
    &:nth-child(3) {
      background-color: rgb(23, 215, 23);
    }
    &:nth-child(4) {
      background-color: rgb(215, 42, 23);
    }
  }
}

.modal2 {
  &:popover-open {
    display: grid;
  }
  padding: var(--m);
  border: none;
  border-radius: calc(var(--m) / 2);
  position: absolute;
  place-self: center;
  grid-template-columns: repeat(3, 1fr);
  width: 60vw;
  gap: var(--m);
  .choice {
    margin-top: var(--m);
    background-color: rgba(142, 235, 245, 0.227);
    text-align: center;
    padding: calc(var(--m) * 4) var(--m);
    border-radius: var(--m);
    &:hover {
      filter: brightness(0.6);
      cursor: pointer;
    }
  }
  h2 {
    grid-column: span 3;
  }
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
